<div class="card">
  <%= link_to image_tag( prototype.image, class: :card__img ), prototype_path(prototype.id), method: :get %>     <%# 修正%>
  <div class="card__body">
    <%= link_to prototype.title, prototype_path(prototype.id), method: :get, class: :card__title%>   <%# 修正%>
    <p class="card__summary">
      <%= prototype.catch_copy %>   <%# 修正%>
    </p>
    <%= link_to "by#{prototype.user.name}", "/users/#{prototype.user_id}", class: :card__user %>   <%# 修正%>   <%# マイページのパスへ%> 
    <%#= link_to "by#{prototype.user.name}", user_path(prototype.id), class: :card__user %>   <%# 修正%>   <%# マイページのパスへ%> 
  </div>
</div>